In [3]:
import pandas as pd
pd.options.display.max_rows = None
pd.options.display.max_columns = None
df = pd.read_csv("domestic-stu.txt",sep=",")
df

      FirstName    LastName Province  CGPA  ResearchScore
0          Mary       White       BC  4.00             85
1          Mike       Hwang       ON  3.70             90
2          Liam     Edwards       AB  4.33             70
3          Noah     Collins       BC  4.20             71
4       William     Stewart       MB  4.10             72
5         James     Sanchez       NB  4.00             73
6        Oliver      Morris       NL  3.90             74
7      Benjamin      Rogers       NT  3.80             75
8        Elijah        Reed       NS  3.70             76
9         Lucas        Cook       NU  3.60             77
10        Mason      Morgan       ON  3.50             78
11        Logan        Bell       PE  3.40             79
12    Alexander      Murphy       QC  3.30             80
13        Ethan      Bailey       SK  3.20             81
14        Jacob      Rivera       YT  3.10             82
15      Michael      Cooper       AB  3.00             83
16       Daniel  Richardson       BC  2.90             84
17        Henry         Cox       MB  2.80             85
18      Jackson      Howard       NB  4.25             86
19    Sebastian        Ward       NL  4.15             87
20        Aiden      Torres       NT  4.05             88
21      Matthew    Peterson       NS  3.95             89
22       Samuel        Gray       NU  3.85             90
23        David     Ramirez       ON  3.75             91
24       Joseph       James       PE  3.65             92
25       Carter      Watson       QC  3.55             93
26         Owen      Brooks       SK  3.45             94
27        Wyatt       Kelly       YT  3.35             95
28         John     Sanders       AB  3.25             96
29         Jack       Price       BC  3.15             97
30         Luke     Bennett       MB  3.05             98
31       Jayden        Wood       NB  2.95             99
32        Dylan      Barnes       NL  2.85            100
33      Grayson        Ross       NT  4.33             99
34         Levi   Henderson       NS  4.20             98
35        Isaac     Coleman       NU  4.10             97
36      Gabriel     Jenkins       ON  4.00             96
37       Julian       Perry       PE  3.90             95
38        Mateo      Powell       QC  3.80             94
39      Anthony        Long       SK  3.70             93
40        Jaxon   Patterson       YT  3.60             92
41      Lincoln      Hughes       AB  3.50             91
42       Joshua      Flores       BC  3.40             90
43  Christopher  Washington       MB  3.30             89
44       Andrew      Butler       NB  3.20             88
45     Theodore     Simmons       NL  3.10             87
46        Caleb      Foster       NT  3.00             86
47         Ryan    Gonzales       NS  2.90             85
48        Asher      Bryant       NU  2.80             84
49       Nathan   Alexander       ON  4.25             83
50       Thomas     Russell       PE  4.15             82
51         Emma     Griffin       QC  4.05             81
52       Olivia     Stewart       SK  3.95             80
53          Ava     Sanchez       YT  3.85             79
54     Isabella      Morris       AB  3.75             78
55       Sophia      Rogers       BC  3.65             77
56    Charlotte        Reed       MB  3.55             76
57          Mia        Cook       NB  3.45             75
58       Amelia      Morgan       NL  3.35             74
59       Harper        Bell       NT  3.25             73
60       Evelyn      Murphy       NS  3.15             72
61      Abigail      Bailey       NU  3.05             71
62        Emily      Rivera       ON  2.95             70
63    Elizabeth      Cooper       PE  2.85            100
64         Mila  Richardson       QC  4.33             99
65         Ella         Cox       SK  4.20             98
66        Avery      Howard       YT  4.10             97
67        Sofia        Ward       AB  4.00             96
68       Camila      Torres       BC  3.90             95
69         Aria    Peterson       MB  3.80             94
70     Scarlett        Gray       NB  3.70             93
71     Victoria     Ramirez       NL  3.60             92
72      Madison       James       NT  3.50             91
73         Luna      Watson       NS  3.40             90
74        Grace      Brooks       NU  3.30             89
75        Chloe       Kelly       ON  3.20             88
76     Penelope     Sanders       PE  3.10             87
77        Layla       Price       QC  3.00             86
78        Riley     Bennett       SK  2.90             85
79         Zoey        Wood       YT  2.80             84
80         Nora      Barnes       AB  4.25             83
81         Lily        Ross       BC  4.15             82
82      Eleanor   Henderson       MB  4.05             81
83       Hannah     Coleman       NB  3.95             80
84      Lillian     Jenkins       NL  3.85             79
85      Addison       Perry       NT  3.75             78
86       Aubrey      Powell       NS  3.65             77
87        Ellie        Long       NU  3.55             76
88       Stella   Patterson       ON  3.45             75
89      Natalie      Hughes       PE  3.35             74
90          Zoe      Flores       QC  3.25             73
91         Leah  Washington       SK  3.15             72
92        Hazel      Butler       YT  3.05             71
93       Violet     Simmons       AB  2.95             70
94       Aurora      Foster       BC  2.85            100
95     Savannah    Gonzales       MB  3.85             99
96       Audrey      Bryant       NB  3.75             98
97     Brooklyn   Alexander       NL  3.65             97
98        Bella     Russell       NT  3.55             96
99       Claire     Griffin       NS  3.45             95

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FirstName      100 non-null    object
 1   LastName       100 non-null    object
 2   Province       100 non-null    object
 3   CGPA           100 non-null    float64
 4   ResearchScore  100 non-null    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [8]:
df.describe()

            CGPA  ResearchScore
count  100.00000     100.000000
mean     3.56190      85.650000
std      0.43922       9.074746
min      2.80000      70.000000
25%      3.20000      78.000000
50%      3.57500      86.000000
75%      3.91250      94.000000
max      4.33000     100.000000

In [10]:
df.head(3)

  FirstName LastName Province  CGPA  ResearchScore
0      Mary    White       BC  4.00             85
1      Mike    Hwang       ON  3.70             90
2      Liam  Edwards       AB  4.33             70

In [12]:
df.tail(5)

   FirstName   LastName Province  CGPA  ResearchScore
95  Savannah   Gonzales       MB  3.85             99
96    Audrey     Bryant       NB  3.75             98
97  Brooklyn  Alexander       NL  3.65             97
98     Bella    Russell       NT  3.55             96
99    Claire    Griffin       NS  3.45             95

In [14]:
df.values

array([['Mary', 'White', 'BC', 4.0, 85],
       ['Mike', 'Hwang', 'ON', 3.7, 90],
       ['Liam', 'Edwards', 'AB', 4.33, 70],
       ['Noah', 'Collins', 'BC', 4.2, 71],
       ['William', 'Stewart', 'MB', 4.1, 72],
       ['James', 'Sanchez', 'NB', 4.0, 73],
       ['Oliver', 'Morris', 'NL', 3.9, 74],
       ['Benjamin', 'Rogers', 'NT', 3.8, 75],
       ['Elijah', 'Reed', 'NS', 3.7, 76],
       ['Lucas', 'Cook', 'NU', 3.6, 77],
       ['Mason', 'Morgan', 'ON', 3.5, 78],
       ['Logan', 'Bell', 'PE', 3.4, 79],
       ['Alexander', 'Murphy', 'QC', 3.3, 80],
       ['Ethan', 'Bailey', 'SK', 3.2, 81],
       ['Jacob', 'Rivera', 'YT', 3.1, 82],
       ['Michael', 'Cooper', 'AB', 3.0, 83],
       ['Daniel', 'Richardson', 'BC', 2.9, 84],
       ['Henry', 'Cox', 'MB', 2.8, 85],
       ['Jackson', 'Howard', 'NB', 4.25, 86],
       ['Sebastian', 'Ward', 'NL', 4.15, 87],
       ['Aiden', 'Torres', 'NT', 4.05, 88],
       ['Matthew', 'Peterson', 'NS', 3.95, 89],
       ['Samuel', 'Gray', 'NU', 3.85, 90],
       ['David', 'Ramirez', 'ON', 3.75, 91],
       ['Joseph', 'James', 'PE', 3.65, 92],
       ['Carter', 'Watson', 'QC', 3.55, 93],
       ['Owen', 'Brooks', 'SK', 3.45, 94],
       ['Wyatt', 'Kelly', 'YT', 3.35, 95],
       ['John', 'Sanders', 'AB', 3.25, 96],
       ['Jack', 'Price', 'BC', 3.15, 97],
       ['Luke', 'Bennett', 'MB', 3.05, 98],
       ['Jayden', 'Wood', 'NB', 2.95, 99],
       ['Dylan', 'Barnes', 'NL', 2.85, 100],
       ['Grayson', 'Ross', 'NT', 4.33, 99],
       ['Levi', 'Henderson', 'NS', 4.2, 98],
       ['Isaac', 'Coleman', 'NU', 4.1, 97],
       ['Gabriel', 'Jenkins', 'ON', 4.0, 96],
       ['Julian', 'Perry', 'PE', 3.9, 95],
       ['Mateo', 'Powell', 'QC', 3.8, 94],
       ['Anthony', 'Long', 'SK', 3.7, 93],
       ['Jaxon', 'Patterson', 'YT', 3.6, 92],
       ['Lincoln', 'Hughes', 'AB', 3.5, 91],
       ['Joshua', 'Flores', 'BC', 3.4, 90],
       ['Christopher', 'Washington', 'MB', 3.3, 89],
       ['Andrew', 'Butler', 'NB', 3.2, 88],
       ['Theodore', 'Simmons', 'NL', 3.1, 87],
       ['Caleb', 'Foster', 'NT', 3.0, 86],
       ['Ryan', 'Gonzales', 'NS', 2.9, 85],
       ['Asher', 'Bryant', 'NU', 2.8, 84],
       ['Nathan', 'Alexander', 'ON', 4.25, 83],
       ['Thomas', 'Russell', 'PE', 4.15, 82],
       ['Emma', 'Griffin', 'QC', 4.05, 81],
       ['Olivia', 'Stewart', 'SK', 3.95, 80],
       ['Ava', 'Sanchez', 'YT', 3.85, 79],
       ['Isabella', 'Morris', 'AB', 3.75, 78],
       ['Sophia', 'Rogers', 'BC', 3.65, 77],
       ['Charlotte', 'Reed', 'MB', 3.55, 76],
       ['Mia', 'Cook', 'NB', 3.45, 75],
       ['Amelia', 'Morgan', 'NL', 3.35, 74],
       ['Harper', 'Bell', 'NT', 3.25, 73],
       ['Evelyn', 'Murphy', 'NS', 3.15, 72],
       ['Abigail', 'Bailey', 'NU', 3.05, 71],
       ['Emily', 'Rivera', 'ON', 2.95, 70],
       ['Elizabeth', 'Cooper', 'PE', 2.85, 100],
       ['Mila', 'Richardson', 'QC', 4.33, 99],
       ['Ella', 'Cox', 'SK', 4.2, 98],
       ['Avery', 'Howard', 'YT', 4.1, 97],
       ['Sofia', 'Ward', 'AB', 4.0, 96],
       ['Camila', 'Torres', 'BC', 3.9, 95],
       ['Aria', 'Peterson', 'MB', 3.8, 94],
       ['Scarlett', 'Gray', 'NB', 3.7, 93],
       ['Victoria', 'Ramirez', 'NL', 3.6, 92],
       ['Madison', 'James', 'NT', 3.5, 91],
       ['Luna', 'Watson', 'NS', 3.4, 90],
       ['Grace', 'Brooks', 'NU', 3.3, 89],
       ['Chloe', 'Kelly', 'ON', 3.2, 88],
       ['Penelope', 'Sanders', 'PE', 3.1, 87],
       ['Layla', 'Price', 'QC', 3.0, 86],
       ['Riley', 'Bennett', 'SK', 2.9, 85],
       ['Zoey', 'Wood', 'YT', 2.8, 84],
       ['Nora', 'Barnes', 'AB', 4.25, 83],
       ['Lily', 'Ross', 'BC', 4.15, 82],
       ['Eleanor', 'Henderson', 'MB', 4.05, 81],
       ['Hannah', 'Coleman', 'NB', 3.95, 80],
       ['Lillian', 'Jenkins', 'NL', 3.85, 79],
       ['Addison', 'Perry', 'NT', 3.75, 78],
       ['Aubrey', 'Powell', 'NS', 3.65, 77],
       ['Ellie', 'Long', 'NU', 3.55, 76],
       ['Stella', 'Patterson', 'ON', 3.45, 75],
       ['Natalie', 'Hughes', 'PE', 3.35, 74],
       ['Zoe', 'Flores', 'QC', 3.25, 73],
       ['Leah', 'Washington', 'SK', 3.15, 72],
       ['Hazel', 'Butler', 'YT', 3.05, 71],
       ['Violet', 'Simmons', 'AB', 2.95, 70],
       ['Aurora', 'Foster', 'BC', 2.85, 100],
       ['Savannah', 'Gonzales', 'MB', 3.85, 99],
       ['Audrey', 'Bryant', 'NB', 3.75, 98],
       ['Brooklyn', 'Alexander', 'NL', 3.65, 97],
       ['Bella', 'Russell', 'NT', 3.55, 96],
       ['Claire', 'Griffin', 'NS', 3.45, 95]], dtype=object)

In [16]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [18]:
df.set_index("FirstName")

               LastName Province  CGPA  ResearchScore
FirstName
Mary              White       BC  4.00             85
Mike              Hwang       ON  3.70             90
Liam            Edwards       AB  4.33             70
Noah            Collins       BC  4.20             71
William         Stewart       MB  4.10             72
James           Sanchez       NB  4.00             73
Oliver           Morris       NL  3.90             74
Benjamin         Rogers       NT  3.80             75
Elijah             Reed       NS  3.70             76
Lucas              Cook       NU  3.60             77
Mason            Morgan       ON  3.50             78
Logan              Bell       PE  3.40             79
Alexander        Murphy       QC  3.30             80
Ethan            Bailey       SK  3.20             81
Jacob            Rivera       YT  3.10             82
Michael          Cooper       AB  3.00             83
Daniel       Richardson       BC  2.90             84
Henry               Cox       MB  2.80             85
Jackson          Howard       NB  4.25             86
Sebastian          Ward       NL  4.15             87
Aiden            Torres       NT  4.05             88
Matthew        Peterson       NS  3.95             89
Samuel             Gray       NU  3.85             90
David           Ramirez       ON  3.75             91
Joseph            James       PE  3.65             92
Carter           Watson       QC  3.55             93
Owen             Brooks       SK  3.45             94
Wyatt             Kelly       YT  3.35             95
John            Sanders       AB  3.25             96
Jack              Price       BC  3.15             97
Luke            Bennett       MB  3.05             98
Jayden             Wood       NB  2.95             99
Dylan            Barnes       NL  2.85            100
Grayson            Ross       NT  4.33             99
Levi          Henderson       NS  4.20             98
Isaac           Coleman       NU  4.10             97
Gabriel         Jenkins       ON  4.00             96
Julian            Perry       PE  3.90             95
Mateo            Powell       QC  3.80             94
Anthony            Long       SK  3.70             93
Jaxon         Patterson       YT  3.60             92
Lincoln          Hughes       AB  3.50             91
Joshua           Flores       BC  3.40             90
Christopher  Washington       MB  3.30             89
Andrew           Butler       NB  3.20             88
Theodore        Simmons       NL  3.10             87
Caleb            Foster       NT  3.00             86
Ryan           Gonzales       NS  2.90             85
Asher            Bryant       NU  2.80             84
Nathan        Alexander       ON  4.25             83
Thomas          Russell       PE  4.15             82
Emma            Griffin       QC  4.05             81
Olivia          Stewart       SK  3.95             80
Ava             Sanchez       YT  3.85             79
Isabella         Morris       AB  3.75             78
Sophia           Rogers       BC  3.65             77
Charlotte          Reed       MB  3.55             76
Mia                Cook       NB  3.45             75
Amelia           Morgan       NL  3.35             74
Harper             Bell       NT  3.25             73
Evelyn           Murphy       NS  3.15             72
Abigail          Bailey       NU  3.05             71
Emily            Rivera       ON  2.95             70
Elizabeth        Cooper       PE  2.85            100
Mila         Richardson       QC  4.33             99
Ella                Cox       SK  4.20             98
Avery            Howard       YT  4.10             97
Sofia              Ward       AB  4.00             96
Camila           Torres       BC  3.90             95
Aria           Peterson       MB  3.80             94
Scarlett           Gray       NB  3.70             93
Victoria        Ramirez       NL  3.60             92
Madison           James       NT  3.50             91
Luna             Watson       NS  3.40             90
Grace            Brooks       NU  3.30             89
Chloe             Kelly       ON  3.20             88
Penelope        Sanders       PE  3.10             87
Layla             Price       QC  3.00             86
Riley           Bennett       SK  2.90             85
Zoey               Wood       YT  2.80             84
Nora             Barnes       AB  4.25             83
Lily               Ross       BC  4.15             82
Eleanor       Henderson       MB  4.05             81
Hannah          Coleman       NB  3.95             80
Lillian         Jenkins       NL  3.85             79
Addison           Perry       NT  3.75             78
Aubrey           Powell       NS  3.65             77
Ellie              Long       NU  3.55             76
Stella        Patterson       ON  3.45             75
Natalie          Hughes       PE  3.35             74
Zoe              Flores       QC  3.25             73
Leah         Washington       SK  3.15             72
Hazel            Butler       YT  3.05             71
Violet          Simmons       AB  2.95             70
Aurora           Foster       BC  2.85            100
Savannah       Gonzales       MB  3.85             99
Audrey           Bryant       NB  3.75             98
Brooklyn      Alexander       NL  3.65             97
Bella           Russell       NT  3.55             96
Claire          Griffin       NS  3.45             95

In [20]:
df["CGPA"]

0     4.00
1     3.70
2     4.33
3     4.20
4     4.10
5     4.00
6     3.90
7     3.80
8     3.70
9     3.60
10    3.50
11    3.40
12    3.30
13    3.20
14    3.10
15    3.00
16    2.90
17    2.80
18    4.25
19    4.15
20    4.05
21    3.95
22    3.85
23    3.75
24    3.65
25    3.55
26    3.45
27    3.35
28    3.25
29    3.15
30    3.05
31    2.95
32    2.85
33    4.33
34    4.20
35    4.10
36    4.00
37    3.90
38    3.80
39    3.70
40    3.60
41    3.50
42    3.40
43    3.30
44    3.20
45    3.10
46    3.00
47    2.90
48    2.80
49    4.25
50    4.15
51    4.05
52    3.95
53    3.85
54    3.75
55    3.65
56    3.55
57    3.45
58    3.35
59    3.25
60    3.15
61    3.05
62    2.95
63    2.85
64    4.33
65    4.20
66    4.10
67    4.00
68    3.90
69    3.80
70    3.70
71    3.60
72    3.50
73    3.40
74    3.30
75    3.20
76    3.10
77    3.00
78    2.90
79    2.80
80    4.25
81    4.15
82    4.05
83    3.95
84    3.85
85    3.75
86    3.65
87    3.55
88    3.45
89    3.35
90    3.25
91    3.15
92    3.05
93    2.95
94    2.85
95    3.85
96    3.75
97    3.65
98    3.55
99    3.45
Name: CGPA, dtype: float64

In [22]:
df["CGPA"].max()

4.33

In [24]:
df["CGPA"].min()

2.8

In [26]:
df["CGPA"].nlargest(8)

2     4.33
33    4.33
64    4.33
18    4.25
49    4.25
80    4.25
3     4.20
34    4.20
Name: CGPA, dtype: float64

### df.["Column name"]._____ => describe(), min(), max(), nlargest(n), mean(), sum(), count(), unique(), nunique()

In [28]:
df["Province"].unique()

array(['BC', 'ON', 'AB', 'MB', 'NB', 'NL', 'NT', 'NS', 'NU', 'PE', 'QC',
       'SK', 'YT'], dtype=object)