In [3]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = None
pd.options.display.max_columns = None
df = pd.read_csv("domestic-stu.txt",sep=",")
df

      FirstName    LastName Province  CGPA  ResearchScore
0          Mary       White       BC  4.00             85
1          Mike       Hwang       ON  3.70             90
2          Liam     Edwards       AB  4.33             70
3          Noah     Collins       BC  4.20             71
4       William     Stewart       MB  4.10             72
5         James     Sanchez       NB  4.00             73
6        Oliver      Morris       NL  3.90             74
7      Benjamin      Rogers       NT  3.80             75
8        Elijah        Reed       NS  3.70             76
9         Lucas        Cook       NU  3.60             77
10        Mason      Morgan       ON  3.50             78
11        Logan        Bell       PE  3.40             79
12    Alexander      Murphy       QC  3.30             80
13        Ethan      Bailey       SK  3.20             81
14        Jacob      Rivera       YT  3.10             82
15      Michael      Cooper       AB  3.00             83
16       Daniel  Richardson       BC  2.90             84
17        Henry         Cox       MB  2.80             85
18      Jackson      Howard       NB  4.25             86
19    Sebastian        Ward       NL  4.15             87
20        Aiden      Torres       NT  4.05             88
21      Matthew    Peterson       NS  3.95             89
22       Samuel        Gray       NU  3.85             90
23        David     Ramirez       ON  3.75             91
24       Joseph       James       PE  3.65             92
25       Carter      Watson       QC  3.55             93
26         Owen      Brooks       SK  3.45             94
27        Wyatt       Kelly       YT  3.35             95
28         John     Sanders       AB  3.25             96
29         Jack       Price       BC  3.15             97
30         Luke     Bennett       MB  3.05             98
31       Jayden        Wood       NB  2.95             99
32        Dylan      Barnes       NL  2.85            100
33      Grayson        Ross       NT  4.33             99
34         Levi   Henderson       NS  4.20             98
35        Isaac     Coleman       NU  4.10             97
36      Gabriel     Jenkins       ON  4.00             96
37       Julian       Perry       PE  3.90             95
38        Mateo      Powell       QC  3.80             94
39      Anthony        Long       SK  3.70             93
40        Jaxon   Patterson       YT  3.60             92
41      Lincoln      Hughes       AB  3.50             91
42       Joshua      Flores       BC  3.40             90
43  Christopher  Washington       MB  3.30             89
44       Andrew      Butler       NB  3.20             88
45     Theodore     Simmons       NL  3.10             87
46        Caleb      Foster       NT  3.00             86
47         Ryan    Gonzales       NS  2.90             85
48        Asher      Bryant       NU  2.80             84
49       Nathan   Alexander       ON  4.25             83
50       Thomas     Russell       PE  4.15             82
51         Emma     Griffin       QC  4.05             81
52       Olivia     Stewart       SK  3.95             80
53          Ava     Sanchez       YT  3.85             79
54     Isabella      Morris       AB  3.75             78
55       Sophia      Rogers       BC  3.65             77
56    Charlotte        Reed       MB  3.55             76
57          Mia        Cook       NB  3.45             75
58       Amelia      Morgan       NL  3.35             74
59       Harper        Bell       NT  3.25             73
60       Evelyn      Murphy       NS  3.15             72
61      Abigail      Bailey       NU  3.05             71
62        Emily      Rivera       ON  2.95             70
63    Elizabeth      Cooper       PE  2.85            100
64         Mila  Richardson       QC  4.33             99
65         Ella         Cox       SK  4.20             98
66        Avery      Howard       YT  4.10             97
67        Sofia        Ward       AB  4.00             96
68       Camila      Torres       BC  3.90             95
69         Aria    Peterson       MB  3.80             94
70     Scarlett        Gray       NB  3.70             93
71     Victoria     Ramirez       NL  3.60             92
72      Madison       James       NT  3.50             91
73         Luna      Watson       NS  3.40             90
74        Grace      Brooks       NU  3.30             89
75        Chloe       Kelly       ON  3.20             88
76     Penelope     Sanders       PE  3.10             87
77        Layla       Price       QC  3.00             86
78        Riley     Bennett       SK  2.90             85
79         Zoey        Wood       YT  2.80             84
80         Nora      Barnes       AB  4.25             83
81         Lily        Ross       BC  4.15             82
82      Eleanor   Henderson       MB  4.05             81
83       Hannah     Coleman       NB  3.95             80
84      Lillian     Jenkins       NL  3.85             79
85      Addison       Perry       NT  3.75             78
86       Aubrey      Powell       NS  3.65             77
87        Ellie        Long       NU  3.55             76
88       Stella   Patterson       ON  3.45             75
89      Natalie      Hughes       PE  3.35             74
90          Zoe      Flores       QC  3.25             73
91         Leah  Washington       SK  3.15             72
92        Hazel      Butler       YT  3.05             71
93       Violet     Simmons       AB  2.95             70
94       Aurora      Foster       BC  2.85            100
95     Savannah    Gonzales       MB  3.85             99
96       Audrey      Bryant       NB  3.75             98
97     Brooklyn   Alexander       NL  3.65             97
98        Bella     Russell       NT  3.55             96
99       Claire     Griffin       NS  3.45             95

In [6]:
df["LastName"]=np.nan
df

      FirstName  LastName Province  CGPA  ResearchScore
0          Mary       NaN       BC  4.00             85
1          Mike       NaN       ON  3.70             90
2          Liam       NaN       AB  4.33             70
3          Noah       NaN       BC  4.20             71
4       William       NaN       MB  4.10             72
5         James       NaN       NB  4.00             73
6        Oliver       NaN       NL  3.90             74
7      Benjamin       NaN       NT  3.80             75
8        Elijah       NaN       NS  3.70             76
9         Lucas       NaN       NU  3.60             77
10        Mason       NaN       ON  3.50             78
11        Logan       NaN       PE  3.40             79
12    Alexander       NaN       QC  3.30             80
13        Ethan       NaN       SK  3.20             81
14        Jacob       NaN       YT  3.10             82
15      Michael       NaN       AB  3.00             83
16       Daniel       NaN       BC  2.90             84
17        Henry       NaN       MB  2.80             85
18      Jackson       NaN       NB  4.25             86
19    Sebastian       NaN       NL  4.15             87
20        Aiden       NaN       NT  4.05             88
21      Matthew       NaN       NS  3.95             89
22       Samuel       NaN       NU  3.85             90
23        David       NaN       ON  3.75             91
24       Joseph       NaN       PE  3.65             92
25       Carter       NaN       QC  3.55             93
26         Owen       NaN       SK  3.45             94
27        Wyatt       NaN       YT  3.35             95
28         John       NaN       AB  3.25             96
29         Jack       NaN       BC  3.15             97
30         Luke       NaN       MB  3.05             98
31       Jayden       NaN       NB  2.95             99
32        Dylan       NaN       NL  2.85            100
33      Grayson       NaN       NT  4.33             99
34         Levi       NaN       NS  4.20             98
35        Isaac       NaN       NU  4.10             97
36      Gabriel       NaN       ON  4.00             96
37       Julian       NaN       PE  3.90             95
38        Mateo       NaN       QC  3.80             94
39      Anthony       NaN       SK  3.70             93
40        Jaxon       NaN       YT  3.60             92
41      Lincoln       NaN       AB  3.50             91
42       Joshua       NaN       BC  3.40             90
43  Christopher       NaN       MB  3.30             89
44       Andrew       NaN       NB  3.20             88
45     Theodore       NaN       NL  3.10             87
46        Caleb       NaN       NT  3.00             86
47         Ryan       NaN       NS  2.90             85
48        Asher       NaN       NU  2.80             84
49       Nathan       NaN       ON  4.25             83
50       Thomas       NaN       PE  4.15             82
51         Emma       NaN       QC  4.05             81
52       Olivia       NaN       SK  3.95             80
53          Ava       NaN       YT  3.85             79
54     Isabella       NaN       AB  3.75             78
55       Sophia       NaN       BC  3.65             77
56    Charlotte       NaN       MB  3.55             76
57          Mia       NaN       NB  3.45             75
58       Amelia       NaN       NL  3.35             74
59       Harper       NaN       NT  3.25             73
60       Evelyn       NaN       NS  3.15             72
61      Abigail       NaN       NU  3.05             71
62        Emily       NaN       ON  2.95             70
63    Elizabeth       NaN       PE  2.85            100
64         Mila       NaN       QC  4.33             99
65         Ella       NaN       SK  4.20             98
66        Avery       NaN       YT  4.10             97
67        Sofia       NaN       AB  4.00             96
68       Camila       NaN       BC  3.90             95
69         Aria       NaN       MB  3.80             94
70     Scarlett       NaN       NB  3.70             93
71     Victoria       NaN       NL  3.60             92
72      Madison       NaN       NT  3.50             91
73         Luna       NaN       NS  3.40             90
74        Grace       NaN       NU  3.30             89
75        Chloe       NaN       ON  3.20             88
76     Penelope       NaN       PE  3.10             87
77        Layla       NaN       QC  3.00             86
78        Riley       NaN       SK  2.90             85
79         Zoey       NaN       YT  2.80             84
80         Nora       NaN       AB  4.25             83
81         Lily       NaN       BC  4.15             82
82      Eleanor       NaN       MB  4.05             81
83       Hannah       NaN       NB  3.95             80
84      Lillian       NaN       NL  3.85             79
85      Addison       NaN       NT  3.75             78
86       Aubrey       NaN       NS  3.65             77
87        Ellie       NaN       NU  3.55             76
88       Stella       NaN       ON  3.45             75
89      Natalie       NaN       PE  3.35             74
90          Zoe       NaN       QC  3.25             73
91         Leah       NaN       SK  3.15             72
92        Hazel       NaN       YT  3.05             71
93       Violet       NaN       AB  2.95             70
94       Aurora       NaN       BC  2.85            100
95     Savannah       NaN       MB  3.85             99
96       Audrey       NaN       NB  3.75             98
97     Brooklyn       NaN       NL  3.65             97
98        Bella       NaN       NT  3.55             96
99       Claire       NaN       NS  3.45             95

In [8]:
df.fillna("")

      FirstName LastName Province  CGPA  ResearchScore
0          Mary                BC  4.00             85
1          Mike                ON  3.70             90
2          Liam                AB  4.33             70
3          Noah                BC  4.20             71
4       William                MB  4.10             72
5         James                NB  4.00             73
6        Oliver                NL  3.90             74
7      Benjamin                NT  3.80             75
8        Elijah                NS  3.70             76
9         Lucas                NU  3.60             77
10        Mason                ON  3.50             78
11        Logan                PE  3.40             79
12    Alexander                QC  3.30             80
13        Ethan                SK  3.20             81
14        Jacob                YT  3.10             82
15      Michael                AB  3.00             83
16       Daniel                BC  2.90             84
17        Henry                MB  2.80             85
18      Jackson                NB  4.25             86
19    Sebastian                NL  4.15             87
20        Aiden                NT  4.05             88
21      Matthew                NS  3.95             89
22       Samuel                NU  3.85             90
23        David                ON  3.75             91
24       Joseph                PE  3.65             92
25       Carter                QC  3.55             93
26         Owen                SK  3.45             94
27        Wyatt                YT  3.35             95
28         John                AB  3.25             96
29         Jack                BC  3.15             97
30         Luke                MB  3.05             98
31       Jayden                NB  2.95             99
32        Dylan                NL  2.85            100
33      Grayson                NT  4.33             99
34         Levi                NS  4.20             98
35        Isaac                NU  4.10             97
36      Gabriel                ON  4.00             96
37       Julian                PE  3.90             95
38        Mateo                QC  3.80             94
39      Anthony                SK  3.70             93
40        Jaxon                YT  3.60             92
41      Lincoln                AB  3.50             91
42       Joshua                BC  3.40             90
43  Christopher                MB  3.30             89
44       Andrew                NB  3.20             88
45     Theodore                NL  3.10             87
46        Caleb                NT  3.00             86
47         Ryan                NS  2.90             85
48        Asher                NU  2.80             84
49       Nathan                ON  4.25             83
50       Thomas                PE  4.15             82
51         Emma                QC  4.05             81
52       Olivia                SK  3.95             80
53          Ava                YT  3.85             79
54     Isabella                AB  3.75             78
55       Sophia                BC  3.65             77
56    Charlotte                MB  3.55             76
57          Mia                NB  3.45             75
58       Amelia                NL  3.35             74
59       Harper                NT  3.25             73
60       Evelyn                NS  3.15             72
61      Abigail                NU  3.05             71
62        Emily                ON  2.95             70
63    Elizabeth                PE  2.85            100
64         Mila                QC  4.33             99
65         Ella                SK  4.20             98
66        Avery                YT  4.10             97
67        Sofia                AB  4.00             96
68       Camila                BC  3.90             95
69         Aria                MB  3.80             94
70     Scarlett                NB  3.70             93
71     Victoria                NL  3.60             92
72      Madison                NT  3.50             91
73         Luna                NS  3.40             90
74        Grace                NU  3.30             89
75        Chloe                ON  3.20             88
76     Penelope                PE  3.10             87
77        Layla                QC  3.00             86
78        Riley                SK  2.90             85
79         Zoey                YT  2.80             84
80         Nora                AB  4.25             83
81         Lily                BC  4.15             82
82      Eleanor                MB  4.05             81
83       Hannah                NB  3.95             80
84      Lillian                NL  3.85             79
85      Addison                NT  3.75             78
86       Aubrey                NS  3.65             77
87        Ellie                NU  3.55             76
88       Stella                ON  3.45             75
89      Natalie                PE  3.35             74
90          Zoe                QC  3.25             73
91         Leah                SK  3.15             72
92        Hazel                YT  3.05             71
93       Violet                AB  2.95             70
94       Aurora                BC  2.85            100
95     Savannah                MB  3.85             99
96       Audrey                NB  3.75             98
97     Brooklyn                NL  3.65             97
98        Bella                NT  3.55             96
99       Claire                NS  3.45             95

In [11]:
df.fillna("",inplace=True)
df

      FirstName LastName Province  CGPA  ResearchScore
0          Mary                BC  4.00             85
1          Mike                ON  3.70             90
2          Liam                AB  4.33             70
3          Noah                BC  4.20             71
4       William                MB  4.10             72
5         James                NB  4.00             73
6        Oliver                NL  3.90             74
7      Benjamin                NT  3.80             75
8        Elijah                NS  3.70             76
9         Lucas                NU  3.60             77
10        Mason                ON  3.50             78
11        Logan                PE  3.40             79
12    Alexander                QC  3.30             80
13        Ethan                SK  3.20             81
14        Jacob                YT  3.10             82
15      Michael                AB  3.00             83
16       Daniel                BC  2.90             84
17        Henry                MB  2.80             85
18      Jackson                NB  4.25             86
19    Sebastian                NL  4.15             87
20        Aiden                NT  4.05             88
21      Matthew                NS  3.95             89
22       Samuel                NU  3.85             90
23        David                ON  3.75             91
24       Joseph                PE  3.65             92
25       Carter                QC  3.55             93
26         Owen                SK  3.45             94
27        Wyatt                YT  3.35             95
28         John                AB  3.25             96
29         Jack                BC  3.15             97
30         Luke                MB  3.05             98
31       Jayden                NB  2.95             99
32        Dylan                NL  2.85            100
33      Grayson                NT  4.33             99
34         Levi                NS  4.20             98
35        Isaac                NU  4.10             97
36      Gabriel                ON  4.00             96
37       Julian                PE  3.90             95
38        Mateo                QC  3.80             94
39      Anthony                SK  3.70             93
40        Jaxon                YT  3.60             92
41      Lincoln                AB  3.50             91
42       Joshua                BC  3.40             90
43  Christopher                MB  3.30             89
44       Andrew                NB  3.20             88
45     Theodore                NL  3.10             87
46        Caleb                NT  3.00             86
47         Ryan                NS  2.90             85
48        Asher                NU  2.80             84
49       Nathan                ON  4.25             83
50       Thomas                PE  4.15             82
51         Emma                QC  4.05             81
52       Olivia                SK  3.95             80
53          Ava                YT  3.85             79
54     Isabella                AB  3.75             78
55       Sophia                BC  3.65             77
56    Charlotte                MB  3.55             76
57          Mia                NB  3.45             75
58       Amelia                NL  3.35             74
59       Harper                NT  3.25             73
60       Evelyn                NS  3.15             72
61      Abigail                NU  3.05             71
62        Emily                ON  2.95             70
63    Elizabeth                PE  2.85            100
64         Mila                QC  4.33             99
65         Ella                SK  4.20             98
66        Avery                YT  4.10             97
67        Sofia                AB  4.00             96
68       Camila                BC  3.90             95
69         Aria                MB  3.80             94
70     Scarlett                NB  3.70             93
71     Victoria                NL  3.60             92
72      Madison                NT  3.50             91
73         Luna                NS  3.40             90
74        Grace                NU  3.30             89
75        Chloe                ON  3.20             88
76     Penelope                PE  3.10             87
77        Layla                QC  3.00             86
78        Riley                SK  2.90             85
79         Zoey                YT  2.80             84
80         Nora                AB  4.25             83
81         Lily                BC  4.15             82
82      Eleanor                MB  4.05             81
83       Hannah                NB  3.95             80
84      Lillian                NL  3.85             79
85      Addison                NT  3.75             78
86       Aubrey                NS  3.65             77
87        Ellie                NU  3.55             76
88       Stella                ON  3.45             75
89      Natalie                PE  3.35             74
90          Zoe                QC  3.25             73
91         Leah                SK  3.15             72
92        Hazel                YT  3.05             71
93       Violet                AB  2.95             70
94       Aurora                BC  2.85            100
95     Savannah                MB  3.85             99
96       Audrey                NB  3.75             98
97     Brooklyn                NL  3.65             97
98        Bella                NT  3.55             96
99       Claire                NS  3.45             95

In [14]:
df.dropna()

      FirstName LastName Province  CGPA  ResearchScore
0          Mary                BC  4.00             85
1          Mike                ON  3.70             90
2          Liam                AB  4.33             70
3          Noah                BC  4.20             71
4       William                MB  4.10             72
5         James                NB  4.00             73
6        Oliver                NL  3.90             74
7      Benjamin                NT  3.80             75
8        Elijah                NS  3.70             76
9         Lucas                NU  3.60             77
10        Mason                ON  3.50             78
11        Logan                PE  3.40             79
12    Alexander                QC  3.30             80
13        Ethan                SK  3.20             81
14        Jacob                YT  3.10             82
15      Michael                AB  3.00             83
16       Daniel                BC  2.90             84
17        Henry                MB  2.80             85
18      Jackson                NB  4.25             86
19    Sebastian                NL  4.15             87
20        Aiden                NT  4.05             88
21      Matthew                NS  3.95             89
22       Samuel                NU  3.85             90
23        David                ON  3.75             91
24       Joseph                PE  3.65             92
25       Carter                QC  3.55             93
26         Owen                SK  3.45             94
27        Wyatt                YT  3.35             95
28         John                AB  3.25             96
29         Jack                BC  3.15             97
30         Luke                MB  3.05             98
31       Jayden                NB  2.95             99
32        Dylan                NL  2.85            100
33      Grayson                NT  4.33             99
34         Levi                NS  4.20             98
35        Isaac                NU  4.10             97
36      Gabriel                ON  4.00             96
37       Julian                PE  3.90             95
38        Mateo                QC  3.80             94
39      Anthony                SK  3.70             93
40        Jaxon                YT  3.60             92
41      Lincoln                AB  3.50             91
42       Joshua                BC  3.40             90
43  Christopher                MB  3.30             89
44       Andrew                NB  3.20             88
45     Theodore                NL  3.10             87
46        Caleb                NT  3.00             86
47         Ryan                NS  2.90             85
48        Asher                NU  2.80             84
49       Nathan                ON  4.25             83
50       Thomas                PE  4.15             82
51         Emma                QC  4.05             81
52       Olivia                SK  3.95             80
53          Ava                YT  3.85             79
54     Isabella                AB  3.75             78
55       Sophia                BC  3.65             77
56    Charlotte                MB  3.55             76
57          Mia                NB  3.45             75
58       Amelia                NL  3.35             74
59       Harper                NT  3.25             73
60       Evelyn                NS  3.15             72
61      Abigail                NU  3.05             71
62        Emily                ON  2.95             70
63    Elizabeth                PE  2.85            100
64         Mila                QC  4.33             99
65         Ella                SK  4.20             98
66        Avery                YT  4.10             97
67        Sofia                AB  4.00             96
68       Camila                BC  3.90             95
69         Aria                MB  3.80             94
70     Scarlett                NB  3.70             93
71     Victoria                NL  3.60             92
72      Madison                NT  3.50             91
73         Luna                NS  3.40             90
74        Grace                NU  3.30             89
75        Chloe                ON  3.20             88
76     Penelope                PE  3.10             87
77        Layla                QC  3.00             86
78        Riley                SK  2.90             85
79         Zoey                YT  2.80             84
80         Nora                AB  4.25             83
81         Lily                BC  4.15             82
82      Eleanor                MB  4.05             81
83       Hannah                NB  3.95             80
84      Lillian                NL  3.85             79
85      Addison                NT  3.75             78
86       Aubrey                NS  3.65             77
87        Ellie                NU  3.55             76
88       Stella                ON  3.45             75
89      Natalie                PE  3.35             74
90          Zoe                QC  3.25             73
91         Leah                SK  3.15             72
92        Hazel                YT  3.05             71
93       Violet                AB  2.95             70
94       Aurora                BC  2.85            100
95     Savannah                MB  3.85             99
96       Audrey                NB  3.75             98
97     Brooklyn                NL  3.65             97
98        Bella                NT  3.55             96
99       Claire                NS  3.45             95

In [16]:
df["LastName"]=np.nan
df

      FirstName  LastName Province  CGPA  ResearchScore
0          Mary       NaN       BC  4.00             85
1          Mike       NaN       ON  3.70             90
2          Liam       NaN       AB  4.33             70
3          Noah       NaN       BC  4.20             71
4       William       NaN       MB  4.10             72
5         James       NaN       NB  4.00             73
6        Oliver       NaN       NL  3.90             74
7      Benjamin       NaN       NT  3.80             75
8        Elijah       NaN       NS  3.70             76
9         Lucas       NaN       NU  3.60             77
10        Mason       NaN       ON  3.50             78
11        Logan       NaN       PE  3.40             79
12    Alexander       NaN       QC  3.30             80
13        Ethan       NaN       SK  3.20             81
14        Jacob       NaN       YT  3.10             82
15      Michael       NaN       AB  3.00             83
16       Daniel       NaN       BC  2.90             84
17        Henry       NaN       MB  2.80             85
18      Jackson       NaN       NB  4.25             86
19    Sebastian       NaN       NL  4.15             87
20        Aiden       NaN       NT  4.05             88
21      Matthew       NaN       NS  3.95             89
22       Samuel       NaN       NU  3.85             90
23        David       NaN       ON  3.75             91
24       Joseph       NaN       PE  3.65             92
25       Carter       NaN       QC  3.55             93
26         Owen       NaN       SK  3.45             94
27        Wyatt       NaN       YT  3.35             95
28         John       NaN       AB  3.25             96
29         Jack       NaN       BC  3.15             97
30         Luke       NaN       MB  3.05             98
31       Jayden       NaN       NB  2.95             99
32        Dylan       NaN       NL  2.85            100
33      Grayson       NaN       NT  4.33             99
34         Levi       NaN       NS  4.20             98
35        Isaac       NaN       NU  4.10             97
36      Gabriel       NaN       ON  4.00             96
37       Julian       NaN       PE  3.90             95
38        Mateo       NaN       QC  3.80             94
39      Anthony       NaN       SK  3.70             93
40        Jaxon       NaN       YT  3.60             92
41      Lincoln       NaN       AB  3.50             91
42       Joshua       NaN       BC  3.40             90
43  Christopher       NaN       MB  3.30             89
44       Andrew       NaN       NB  3.20             88
45     Theodore       NaN       NL  3.10             87
46        Caleb       NaN       NT  3.00             86
47         Ryan       NaN       NS  2.90             85
48        Asher       NaN       NU  2.80             84
49       Nathan       NaN       ON  4.25             83
50       Thomas       NaN       PE  4.15             82
51         Emma       NaN       QC  4.05             81
52       Olivia       NaN       SK  3.95             80
53          Ava       NaN       YT  3.85             79
54     Isabella       NaN       AB  3.75             78
55       Sophia       NaN       BC  3.65             77
56    Charlotte       NaN       MB  3.55             76
57          Mia       NaN       NB  3.45             75
58       Amelia       NaN       NL  3.35             74
59       Harper       NaN       NT  3.25             73
60       Evelyn       NaN       NS  3.15             72
61      Abigail       NaN       NU  3.05             71
62        Emily       NaN       ON  2.95             70
63    Elizabeth       NaN       PE  2.85            100
64         Mila       NaN       QC  4.33             99
65         Ella       NaN       SK  4.20             98
66        Avery       NaN       YT  4.10             97
67        Sofia       NaN       AB  4.00             96
68       Camila       NaN       BC  3.90             95
69         Aria       NaN       MB  3.80             94
70     Scarlett       NaN       NB  3.70             93
71     Victoria       NaN       NL  3.60             92
72      Madison       NaN       NT  3.50             91
73         Luna       NaN       NS  3.40             90
74        Grace       NaN       NU  3.30             89
75        Chloe       NaN       ON  3.20             88
76     Penelope       NaN       PE  3.10             87
77        Layla       NaN       QC  3.00             86
78        Riley       NaN       SK  2.90             85
79         Zoey       NaN       YT  2.80             84
80         Nora       NaN       AB  4.25             83
81         Lily       NaN       BC  4.15             82
82      Eleanor       NaN       MB  4.05             81
83       Hannah       NaN       NB  3.95             80
84      Lillian       NaN       NL  3.85             79
85      Addison       NaN       NT  3.75             78
86       Aubrey       NaN       NS  3.65             77
87        Ellie       NaN       NU  3.55             76
88       Stella       NaN       ON  3.45             75
89      Natalie       NaN       PE  3.35             74
90          Zoe       NaN       QC  3.25             73
91         Leah       NaN       SK  3.15             72
92        Hazel       NaN       YT  3.05             71
93       Violet       NaN       AB  2.95             70
94       Aurora       NaN       BC  2.85            100
95     Savannah       NaN       MB  3.85             99
96       Audrey       NaN       NB  3.75             98
97     Brooklyn       NaN       NL  3.65             97
98        Bella       NaN       NT  3.55             96
99       Claire       NaN       NS  3.45             95

In [19]:
df.dropna()

Empty DataFrame
Columns: [FirstName, LastName, Province, CGPA, ResearchScore]
Index: []

In [21]:
df.dropna(axis="index",how='any')

Empty DataFrame
Columns: [FirstName, LastName, Province, CGPA, ResearchScore]
Index: []

In [22]:
df.dropna(axis="columns",how='any')

      FirstName Province  CGPA  ResearchScore
0          Mary       BC  4.00             85
1          Mike       ON  3.70             90
2          Liam       AB  4.33             70
3          Noah       BC  4.20             71
4       William       MB  4.10             72
5         James       NB  4.00             73
6        Oliver       NL  3.90             74
7      Benjamin       NT  3.80             75
8        Elijah       NS  3.70             76
9         Lucas       NU  3.60             77
10        Mason       ON  3.50             78
11        Logan       PE  3.40             79
12    Alexander       QC  3.30             80
13        Ethan       SK  3.20             81
14        Jacob       YT  3.10             82
15      Michael       AB  3.00             83
16       Daniel       BC  2.90             84
17        Henry       MB  2.80             85
18      Jackson       NB  4.25             86
19    Sebastian       NL  4.15             87
20        Aiden       NT  4.05             88
21      Matthew       NS  3.95             89
22       Samuel       NU  3.85             90
23        David       ON  3.75             91
24       Joseph       PE  3.65             92
25       Carter       QC  3.55             93
26         Owen       SK  3.45             94
27        Wyatt       YT  3.35             95
28         John       AB  3.25             96
29         Jack       BC  3.15             97
30         Luke       MB  3.05             98
31       Jayden       NB  2.95             99
32        Dylan       NL  2.85            100
33      Grayson       NT  4.33             99
34         Levi       NS  4.20             98
35        Isaac       NU  4.10             97
36      Gabriel       ON  4.00             96
37       Julian       PE  3.90             95
38        Mateo       QC  3.80             94
39      Anthony       SK  3.70             93
40        Jaxon       YT  3.60             92
41      Lincoln       AB  3.50             91
42       Joshua       BC  3.40             90
43  Christopher       MB  3.30             89
44       Andrew       NB  3.20             88
45     Theodore       NL  3.10             87
46        Caleb       NT  3.00             86
47         Ryan       NS  2.90             85
48        Asher       NU  2.80             84
49       Nathan       ON  4.25             83
50       Thomas       PE  4.15             82
51         Emma       QC  4.05             81
52       Olivia       SK  3.95             80
53          Ava       YT  3.85             79
54     Isabella       AB  3.75             78
55       Sophia       BC  3.65             77
56    Charlotte       MB  3.55             76
57          Mia       NB  3.45             75
58       Amelia       NL  3.35             74
59       Harper       NT  3.25             73
60       Evelyn       NS  3.15             72
61      Abigail       NU  3.05             71
62        Emily       ON  2.95             70
63    Elizabeth       PE  2.85            100
64         Mila       QC  4.33             99
65         Ella       SK  4.20             98
66        Avery       YT  4.10             97
67        Sofia       AB  4.00             96
68       Camila       BC  3.90             95
69         Aria       MB  3.80             94
70     Scarlett       NB  3.70             93
71     Victoria       NL  3.60             92
72      Madison       NT  3.50             91
73         Luna       NS  3.40             90
74        Grace       NU  3.30             89
75        Chloe       ON  3.20             88
76     Penelope       PE  3.10             87
77        Layla       QC  3.00             86
78        Riley       SK  2.90             85
79         Zoey       YT  2.80             84
80         Nora       AB  4.25             83
81         Lily       BC  4.15             82
82      Eleanor       MB  4.05             81
83       Hannah       NB  3.95             80
84      Lillian       NL  3.85             79
85      Addison       NT  3.75             78
86       Aubrey       NS  3.65             77
87        Ellie       NU  3.55             76
88       Stella       ON  3.45             75
89      Natalie       PE  3.35             74
90          Zoe       QC  3.25             73
91         Leah       SK  3.15             72
92        Hazel       YT  3.05             71
93       Violet       AB  2.95             70
94       Aurora       BC  2.85            100
95     Savannah       MB  3.85             99
96       Audrey       NB  3.75             98
97     Brooklyn       NL  3.65             97
98        Bella       NT  3.55             96
99       Claire       NS  3.45             95